@charset "utf-8";

@keyframes fadeUp{
  0%{transform: translateY(30px); opacity: 0;}
  100%{transform: translateY(0); opacity: 1;}
}

@keyframes fadeDown{
  0%{transform: translateY(-30px); opacity: 0;}
  100%{transform: translateY(0); opacity: 1;}
}

@keyframes fadeLeft{
  0%{transform: translateX(30px); opacity: 0;}
  100%{transform: translateX(0); opacity: 1;}
}

@keyframes fadeRight{
  0%{transform: translateX(-30px); opacity: 0;}
  100%{transform: translateX(0); opacity: 1;}
}

@keyframes floatButton{
  0%{bottom: 0;}
  50%{bottom: 50px;}
  100%{bottom: 0;}
}