@charset "utf-8";

/*모바일 기본*/
.inner{max-width: 1400px; height: 100%; margin: 0 auto; padding:30px; position: relative;}

#wrap{min-width: 320px; overflow: hidden;}

header{width: 100%; height: 100px; border-bottom: 1px solid #DDE1E6; position: relative;}
header .logo a img{height: 40px;}
header .gnb-wrap{width: 100%; height: 2000px; background-color: #fff; z-index: 9; position: fixed; top: 0; right: -100%;}
.gnb-wrap .menu-header{width: 100%; height: 100px; border-bottom: 1px solid #DDE1E6; position: relative;}
.gnb-wrap .menu-header .close{position: absolute; top: 38px; left: 30px;}
.gnb-wrap .menu-header h2{position: absolute; top: 34px; left: 84px; font-size: 28px;}
.gnb-wrap .menu-header .search{position: absolute; top: 38px; right: 84px;}
.gnb-wrap .menu-header .messege{position: absolute; top: 38px; right: 30px;}
.buttons{display: none;}

.gnb-wrap > ul > .depth1{background-color: #fff;}
.gnb-wrap > ul > .depth1 > a{display: block; width: 100%; border-bottom: 1px solid #DDE1E6; padding: 35px 0 35px 50px; position: relative; transition: all 0.3s;}
.gnb-wrap > ul > .depth1 > a:hover{color: #917C52; text-shadow: 1px 1px 1px #917C52;}
.gnb-wrap > ul > .depth1 > a p{font-size: 20px;}
.gnb-wrap > ul > .depth1 > a img{position: absolute; top: 35px; right: 30px;}
.gnb-wrap .depth2{background-color: #CECDB4;}
.gnb-wrap .depth2 li a{display: block; text-align: center;  padding: 30px 0;}

.ham{position: absolute; top: 35px; right: 30px;}

.search-bar{width: 100%; height: 100px; background-color: #fff; position: absolute;
top: 0; right: 0; z-index: 999; border-bottom: 1px solid #E2E2E2;}
.search-bar fieldset{display: block; border: 0; text-align: center; white-space: nowrap;
position: absolute; top: 28px; left: 50%; transform: translateX(-50%);}
.search-bar legend{display: none;}
.search-bar input[type="text"]{width: 200px; height: 44px; font-size: 20px; background-color: #E2E2E2;
border: 0; border-radius: 22px 0 0 22px; margin-left: 40px;}
.search-bar button{width: 48px; height: 44px; background-color: #e2e2e2; color: #fff;
font-size: 20px; cursor: pointer; border: 0; border-radius: 0 22px 22px 0;}
.search-close{width: 24px; position: absolute; top: 40px; left: 30px;}

.main-visual{width: 100%; height: 660px; background: url(../img/forest-1072828_1920.jpg) no-repeat left center / cover;}
.main-visual .visual-blur{width: 100%; height: 100%; background: radial-gradient(ellipse at center, rgba(242,232,214,1) 0%,rgba(242,232,214,0.5) 50%,rgba(242,232,214,0) 80%,rgba(242,232,214,0) 100%); position: absolute; top: 0; left: -60px;}
.visual-txt{position: absolute; top: 224px;}
.visual-txt h2{font-size: 32px; margin-bottom: 20px; max-width: 230px;}
.visual-txt p{max-width: 240px;}
.container{display: none;}


#introduce h3{font-size: 32px; text-align: center; white-space: nowrap; margin: 100px 0;}

#introduce .i-boxwrap{position: relative; margin-bottom: 430px;}
#introduce .i-boxwrap > div{width: 299px; height: 381px; background-color:#CECDB4;}
#introduce .i-boxwrap > div.right-box{position:absolute; right: 0; margin-top: 130px;}
#introduce .i-boxwrap > div a{display: block;}
#introduce .i-boxwrap > div img{width: 299px; height: auto; }
#introduce .i-boxwrap > div h4{font-size: 28px; text-align: center; margin-top: 24px;}

#product{margin-top: 300px; position: relative;}
#product .pd-txt h3{font-size: 28px; text-align: center; margin-bottom: 24px;}
#product .pd-txt p{text-align: center; margin-bottom: 10px;}
#product .more{width: 140px; height: 48px; display: block; background-color: #917C52; color: #fff; text-align: center; padding-top: 16px; margin: 10px auto; border-radius: 24px;
cursor: pointer; position: absolute; top: 700px; left: 50%; transform: translateX(-50%); transition: all 0.3s;}
#product .more:hover{background-color: #9EB623;}
#product .s-inner{width: 100%; height: 100%; margin: 0 auto; border-left: 1px solid #E2E2E2; border-right: 1px solid #E2E2E2;}
#product ul li{width: 367px; height: 100%; background-color: #fff; border-right: 1px solid #E2E2E2; margin: 0 auto;}
#product ul li a {padding: 20px;}
#product ul li a img{padding: 20px; display: block; margin: 0 auto; width: 300px;}
#product ul li a h4{font-size: 28px; margin-bottom: 20px;}
#product ul li a p{color: #917C52;}
#product ul li .txt-box{display: block; text-align: center;}

.banner-wrap{position: relative; top: 150px; height: 400px;}
.m-banner{overflow: hidden;}
.m-banner, .banner{position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
.banner{display: none;}

#contect{height: 1700px; position: relative; top: 200px; margin-bottom: 100px;}
#contect ul{position: absolute; top: 0; left: 50%; transform: translateX(-50%);margin-top: 100px;}
#contect ul li{width: 367px; height: 542px; background-color: #fff; margin-bottom: 25px;}
#contect ul li a {padding: 20px;}
#contect ul li img{padding-bottom: 20px; width: 316px;}
#contect ul li h4{font-size: 28px; margin-bottom: 20px; text-align: center;}
#contect ul li p{color: #917C52; text-align: center;}
#contect ul li .more{width: 141px; height: 48px; display: block; background-color: #917C52; color: #fff; text-align: center; padding-top: 16px; margin: 10px auto; border-radius: 24px;
cursor: pointer; text-align: center; transition: all 0.3s;}
#contect .more:hover{background-color: #9EB623;}

#c-banner{width: 100%; height: 234px; background: linear-gradient(to bottom, #f2e8d6 0%,#cecdb4 100%); margin-top: 500px;}
#c-banner h5{text-align: center; font-size: 28px; padding-top: 34px; margin-bottom: 27px;}
#c-banner p{text-align: center; color: #917C52;}

footer{background-color: #E2E2E2; width: 100%; height: 386px;}
footer .inner{display: flex; justify-content: space-between;}
footer h6{font-size: 28px; max-width: 260px; padding-top: 38px; margin-bottom: 80px;}
footer address{font-style: normal; font-size: 10px; color: #909090; margin-bottom: 12px;}
footer .copy{font-size: 10px; color: #909090;}
footer .f-right{position: relative;}
footer .f-nav{display: none;}
footer img{height: 67px; position: absolute; bottom: 0; right: 20px;}

/*sub-common*/
#cont-header{width: 100%; height: 400px;}
.sect-test{background-color: #CDF1E7;}
#cont-header h2{font-size: 32px; text-align: center; margin: 80px 0;}
#cont-header ul{display: block; justify-content: center; position: relative;}
#cont-header ul li{text-align: center;}
#cont-header ul li a{display: inline-block; padding: 30px 0 3px; margin: 0 auto; white-space: nowrap; transition: all 0.3s;}
#cont-header ul li.on a{color: #917C52; text-shadow: 1px 1px 1px #917C52;}
#cont-header ul li a::after{display:block; content: '';border-bottom: solid 2px #917C52; transform: scaleX(0); transition: transform 250ms ease-in-out;}
#cont-header ul li.on a::after{display:block; content: '';border-bottom: solid 2px #917C52;transform: scaleX(1);}
#cont-header ul li:first-child a{padding-top: 0;}
#cont-header ul li a:hover{color: #917C52; text-shadow: 1px 1px 1px #917C52;}
#cont-header ul li a:hover::after{transform: scaleX(1);}

#index-box{width: 100%; height: 100px; background-color: #fff; border-bottom: 1px solid #E2E2E2;}
#index-box .index{display: none;}
#index-box .search{width: 100%; height: 100px; margin: 0 auto;}
#index-box .search fieldset{border: 0; text-align: center; white-space: nowrap;}
#index-box .search legend{display: none;}
#index-box .search input[type="text"]{width: 230px; height: 44px; padding: 20px; font-size: 20px;background-color: #E2E2E2;
border: 0; border-radius: 22px 0 0 22px;}
.search button{width: 48px; height: 44px; background-color: #e2e2e2; color: #fff;
font-size: 20px; cursor: pointer; border: 0; border-radius: 0 22px 22px 0;}


/*900px 이상*/
@media screen and (min-width : 900px) {
  header .gnb-wrap{height: 100px; position: absolute;}
  .gnb-wrap .menu-header h2{display: none;}
  .gnb-wrap > ul > .depth1{position: relative;  margin-right: 20px; background-color: transparent;}
  .gnb-wrap > ul > .depth1:last-child{margin: 0;}
  .gnb-wrap > ul > .depth1 > a{border-bottom: 0; text-align: center; white-space: nowrap; margin: 35px 0 0 0; padding: 0 20px;}
  .gnb-wrap > ul > .depth1 > a img{display: none;}
  .gnb{display: flex; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
  .gnb-wrap .depth2{border-radius: 10px;}
  .gnb-wrap .depth2 li a{width: 80%; border-bottom: 1px solid #917C52; margin: 0 auto; white-space: nowrap; padding: 20px 0;}
  .gnb-wrap .depth2 li:last-child a{border-bottom: 0;}

  .search-bar input[type="text"]{width: 500px; margin-left: 0;}
  
  .main-visual{height: 632px;}
  .main-visual .visual-blur{width: 632px; height: 632px;}
  .visual-txt{top: 242px;}
  .visual-txt h2{max-width: 100%;}
  .visual-txt p{max-width: 100%;}

  #introduce h3{position: absolute; top: 300px; left: 50%; transform: translateX(-50%);}
  #introduce .i-boxwrap{margin-top: 250px; margin-bottom: 250px;}
  #introduce .i-boxwrap{display: flex; justify-content: space-between;}
  #introduce .i-boxwrap > div.right-box{position:static; margin-top: 0;}

  #product{margin-top: 0;}
  #product .s-inner{width: calc(387px*2); height: 540px; margin: 0 auto;}
  #product ul li a img{width: 307px; height: 355px;}
  #product ul li .txt-box{text-align: left; margin-left: 60px;}

  .banner-wrap{height: 300px; margin: 150px 0;}
  .m-banner{display: none;}
  .banner{display: block; height: 219px;}
  
  #contect{height: 900px;}
  #contect ul{display: flex; margin-top: 0;}
  #contect ul li{width: calc(100% / 3); border-right: 1px solid #E2E2E2;margin: 50px 5px;}
  #contect ul li:last-child{border-right: 0;}
  #contect ul li img{margin-right: 30px; width: 255px;}

  #c-banner{margin-top: 0; height: 316px;}
  #c-banner h5{font-size: 32px; padding-top: 67px;}

  footer .f-left{position: relative;}
  footer h6{max-width: 100%;}
  footer address, footer .copy{font-size: 13px;}
  footer .f-nav{display: block; margin-top: 60px;}
  footer .f-nav li a{display: block; padding: 10px 20px;}
  footer .f-nav li:last-child a{padding-bottom: 30px;}
  footer img{position: static; margin-left: 15px;}
  footer .copy{position: absolute; right: -60%; bottom: 10px;}

  /*sub-common*/
  #cont-header ul{display: flex;}
  #cont-header ul li a{padding:0 30px; font-size: 20px;}

  #index-box .inner{display: flex;}
  #index-box .index{width: 40%; height: 28px; display: flex; margin-top: 8px;}
  #index-box .index img.home{width: 24px; height: 24px;}
  #index-box .index p{line-height: 2;}

  #index-box .search fieldset{text-align: right;}

}

/*1400px 이상*/
@media screen and (min-width : 1400px) {
  header{height: 150px;}
  header .logo a img{height: 70px;}
  header .gnb-wrap{right: 200px !important; background-color: transparent; width: 1000px;}
  .gnb-wrap .menu-header {display: none;}
  .gnb-wrap > ul > .depth1 > a{margin: 60px 0 0 0;}
  .gnb{margin: 0 auto;}
  .buttons{display: flex; position: absolute; top: 50px; right:0; z-index: 99;}
  .bt{display: block; height: 48px; margin-left: 10px; font-size: 16px; line-height: 3; padding: 0 20px; border-radius: 24px;}
  .search-button{border: 1px solid #917C52; color: #917C52; transition: all 0.5s;}
  .search-button:hover{border-color: #9EB623; color: #9EB623;}
  .messege-button{background-color: #917C52; color: #fff; transition: all 0.5s;}
  .messege-button:hover{background-color: #9EB623;}
  .ham{display: none;}
  .search-bar{width: 300px; height: 150px;}
  .search-bar fieldset{top: 75px; left: 70px; transform: translateY(-50%); text-align: right;}
  .search-bar input[type="text"]{width: 160px;}
  .search-bar .search-close{top: 50%; transform: translateY(-50%);}

  .main-visual{height: 900px;}
  .main-visual .visual-blur{width: 900px; height: 900px; left: -100px;}
  .main-visual .inner{width: 100%; height: 100%;}
  .visual-txt{position: absolute; top: 374px;}
  .visual-txt h2{font-size: 45px; margin-bottom: 40px; }
  .visual-txt p{font-size: 18px;}

  .container {
    display: block;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
  }
  
  #hoverButton {
    width: 115px;
    height: 115px;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    background-color: #9EB623; opacity: 0.8;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    
    animation-name: floatButton;
    animation-duration: 2s; animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  #hoverButton:hover {
    transform: scale(1.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  

  #product ul li.txt-box{margin-left: 149px;}
  #product .pd-txt{position: absolute; top: 200px; left: -95px;}
  #product .inner{display: flex; margin-left: 400px;}
  #product .more{top: 300px; left: 0px;}
  #product .s-inner{margin: 0 auto;}
  
  .banner{height: 300px;}

  #contect{height: 1080px;}
  #contect ul{margin-top: 130px;}
  #contect ul li{width: 471px; height: 783px;}
  #contect ul li img{width: 411px; margin-bottom: 71px; margin-left: 5px;}

  #c-banner{margin-top: 200px; height: 400px;}
  #c-banner h5{font-size: 45px; padding-top: 81px;}
  #c-banner p{font-size: 18px;}

  footer{height: 500px;}
  footer h6{font-size: 32px; padding-bottom: 140px;}
  footer .f-nav{margin-top: 110px;}
  footer .f-nav li a{font-size: 20px;}
  footer img{height: 97px;}
  footer .copy{right: -450px;}

  /*sub-common*/
  #cont-header h2{font-size: 45px;}
  #index-box{border: 0;}
}